.profile
	.avatar
		width: 100%
	.table
		border: 1px solid #ddd;
	.table>tbody>tr>td
		border-top: 1px solid #ddd;

.remove-image
	position: absolute
	top: 0
	right: 15px
	background: rgba(34, 34, 34, 0.5)
	border-radius: 2px
	color: #ddd
	cursor: pointer
	transition: 0.2s
	background-image: url('/dist/img/close.svg')
	background-repeat: no-repeat
	background-size: 12px
	width: 12px
	height: 12px
	&:hover
		color: #fff
		background-color: rgba(34, 34, 34, 0.9)

.remove-image-gallery
    top: 0
.remove-image-gallery
	z-index: 5000

.image-current 
	margin: 15px 
	height: 250px
	cursor: pointer

.image-list
	list-style: none
	display: inline-block
	img
		margin: 10px
		height: 50px

.dev-logo
	height: 50px

.image-upload
	border: 1px dashed #ddd
	padding: 15px
	.progress-striped
		z-index: 2000
		margin-bottom: 15px
	p
		color: silver
	.crop 
		border-radius: 2px
	.crop 
	    width: 100%
	    height: 80px
	    overflow: hidden
	.crop img
	    width: 300px
	    margin: -15px 0 0 -15px

.image-gallery	
	.crop 
	    width: 100%
	    height: 165px
	    overflow: hidden
	.crop img
		max-width: 400px
	.crop img
	    margin: -15px 0 0 -15px


