<!-- /.row -->
<div class="row">
  <div class="col-lg-9">
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading" style="padding: 0">
        <ol class="breadcrumb" style="margin: 0">
          <li>
            <i class="fa fa-dashboard"></i>  <a href="#/home" translate>home</a>
          </li>
          <li class="active" translate>
            <i class="fa fa-table" ></i> {{table}}
          </li>
        </ol>
      </div>
      <div class="table-responsive" ng-controller="TableCtrl">
        <table class="table table-hover table-striped">
          <thead>
            <tr>
              <th ng-repeat="column in tableHeader" ng-click="sort(column)"><i ng-class = "{'glyphicon glyphicon-arrow-up':isSortUp(column), 'glyphicon glyphicon-arrow-down':isSortDown(column)}"></i><span translate>{{column}}</span></th>
              <th translate>action</th>
            </tr>
          </thead>
          <tbody ng-switch="table">
            <tr ng-switch-when="developer" ng-repeat="row in data = (main.content | filter: filterField | orderBy: fieldName:reverse)" ng-dblclick="openEdit(row.id)"
              >
              <td>{{row.name}}</td>
              <td><span uib-popover="{{row.city}}, {{row.street}}, {{row.zipcode}}" popover-trigger="mouseenter" popover-title="Adress" popover-placement="top-left">{{row.country}}</span></td>
              <td>{{row.email}}</td>
              <td>{{row.website}}</td>
              <td>{{row.phoneNumber | phone}}</td>
              <td>{{row.fax}}</td>
              <td>
                <i class="glyphicon glyphicon-pencil action" ng-click="openEdit(row.id)" uib-tooltip="Edit"></i>
                <i class="glyphicon glyphicon-remove action" ng-click="openDelete(row.id)" uib-tooltip="Remove"></i>
              </td>
            </tr>
            <tr ng-switch-when="software" ng-repeat="row in data = (main.content | filter: filterField | orderBy: fieldName:reverse)" ng-dblclick="openEdit(row.id)">
              <td>{{row.name}}</td>
              <td>{{row.version}}</td>
              <td>{{row.release}}</td>
              <td>{{row.developer.name}}</td>
              <td ng-switch="row.license.type">
                <span ng-switch-when="FREE" class="label label-success">free</span>
                <span ng-switch-when="TRIAL" class="label label-warning">trail</span>
                <span ng-switch-when="PAID" class="label label-primary">paid</span>
              </td>
              <td><span ng-show="row.windows" class="glyphicon glyphicon-ok"></span></td>
              <td><span ng-show="row.linux" class="glyphicon glyphicon-ok"></span></td>
              <td><span ng-show="row.macOS" class="glyphicon glyphicon-ok"></span></td>
              <td>
                <i class="glyphicon glyphicon-pencil action" ng-click="openEdit(row.id)"></i>
                <i class="glyphicon glyphicon-remove action" ng-click="openDelete(row.id)"></i>
              </td>
            </tr>
            <tr ng-switch-when="rooms" ng-repeat="row in data = (main.content | filter: filterField | orderBy: fieldName:reverse)" ng-dblclick="openEdit(row.id)">
              <td>{{$index + 1}}</td>
              <td>{{row.roomType}}</td>
              <td>{{row.numberOfRooms}}</td>
              <td>{{row.typeOfBed}}</td>
              <td ng-switch="row.breakfast">
                <span ng-switch-when="true" class="label label-success">available</span>
                <span ng-switch-when="false" class="label label-warning">not available</span>
              </td>
              <td>{{row.price | currency:"$"}}</td>
              <td>
                <i class="glyphicon glyphicon-pencil action" ng-click="openEdit(row.id)"></i>
                <i class="glyphicon glyphicon-remove action" ng-click="openDelete(row.id)"></i>
              </td>
            </tr>
          </tbody>
        </table>
        <center>
        <uib-pagination
        total-items="main.totalElements"
        ng-model="currentPage"
        max-size="main.totalElements"
        ng-change="loadPage(currentPage, name)"
        class="pagination-sm">
        </uib-pagination>
        </center>
      </div>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title" translate>filter</h3>
      </div>
      <div class="panel-body">
        <label translate>name</label>
        <input name="name" ng-model="name" type="text" class="form-control" placeholder="Enter dev name" ng-change="loadPage(1)" pattern="[A-z^\s]*">
        <label>country</label>
        <input name="country" type="text" ng-model="country" placeholder="Enter country" uib-typeahead="country as country.name for country in countriesWithFlags | filter:{name:$viewValue}" typeahead-template-url="app/shared/dropdown/countries/dropdown.countries.html" class="form-control" typeahead-show-hint="true" typeahead-min-length="0" ng-change="loadPage(1)">
       <!--  <div ng-show="false">
          <label translate>roomOfType</label>
          <select class="form-control" ng-model="roomOfType" ng-change="searchByField(tableHeader[0], roomOfType)">
            <option></option>
            <option>qwe</option>
            <option>qwe</option>
            <option>qwe</option>
            <option>qwe</option>
          </select>
          <label translate>numberOfRooms</label>
          <input name="numberOfRooms" ng-model="numberOfRooms" type="number" class="form-control" ng-change="searchByField(tableHeader[1], numberOfRooms)" min="0" max="10">
          <label translate>typeOfBed</label>
          <select class="form-control" ng-model="typeOfBed" ng-change="searchByField(tableHeader[2], typeOfBed)">
            <option></option>
            <option>qwe</option>
            <option>qwe</option>
            <option>qwe</option>
            <option>qwe</option>
          </select>
          <label translate>breakfast</label>
          <div class="btn-group btn-group-justified">
            <label class="btn btn-default" ng-model="breakfast" uib-btn-radio="'true'" ng-change="searchByField(tableHeader[3], breakfast)"><span translate>avilable</span></label>
            <label class="btn btn-default" ng-model="breakfast" uib-btn-radio="'false'" ng-change="searchByField(tableHeader[3], breakfast)"><span translate>notAvilable</span></label>
          </div>
        </div> -->
      </div>
    </div>
    <button class="btn btn-success full-width" ng-click="openAdd()"><i class="glyphicon glyphicon-plus"></i> <span translate>add</span></button>
  </div>
  <div ui-view="action"></div>