<div class="panel panel-default" >
  <div class="panel-heading">
    <h3 class="panel-title" translate>{{action}}</h3>
    <i class="glyphicon glyphicon-remove action action-close right" ng-click="closeThisDialog(true)"></i>
  </div>
  <div class="panel-body">
    <ng-form name="devForm">
    <div class="col-lg-6">
      <label translate>name</label>
      <input id="name" name="name" type="name" class="form-control" ng-model="name" maxlength="20" ng-change="checkForm()">
      <label translate>country</label>
      <input name="country" type="text" class="form-control" ng-model="country" pattern="[A-zА-я^\s]*"
      uib-tooltip="Тільки символи" tooltip-is-open="devForm.country.$invalid" tooltip-trigger="none" ng-change="checkForm()">
      <label translate>city</label>
      <input name="city" type="text" class="form-control" ng-model="city" pattern="[A-zА-я^\s]*" maxlength="35" uib-tooltip="Тільки символи" tooltip-is-open="devForm.city.$invalid" tooltip-trigger="none" ng-change="checkForm()"
      tooltip-is-open="devForm.city.$invalid" tooltip-trigger="none">
      <label translate>email</label>
      <input name="email" type="email" class="form-control" ng-model="email"
      uib-tooltip="Неправильний email" tooltip-is-open="devForm.email.$invalid" tooltip-trigger="none" ng-change="checkForm()">
      <label translate>street</label>
      <input type="text" class="form-control" ng-model="street" maxlength="100" ng-change="checkForm()">
    </div>
    <div class="col-lg-6">
      <label translate>zipcode</label>
      <input name="zipcode" type="text" class="form-control" ng-model="zipcode" maxlength="5"
      pattern="[0-9]{5}" ng-change="checkForm()">
      <label translate>website</label>
      <input type="text" name="website" class="form-control" ng-model="website" pattern="^([a-zA-Z0-9]([a-zA-Z0-9\-]{0,61}[a-zA-Z0-9])?\.)+[a-zA-Z]{2,6}$" uib-tooltip="Неправильний URL" tooltip-is-open="devForm.website.$invalid" tooltip-trigger="none"
      maxlength="60" ng-change="checkForm()">
      <label translate>phoneNumber</label>
      <input name="phoneNumber" type="text" class="form-control" ng-model="phoneNumber" pattern="^([0-9]*)$" maxlength="10"
      uib-tooltip="Тільки числа"  tooltip-is-open="devForm.phoneNumber.$invalid" tooltip-trigger="none" ng-change="checkForm()">
      <label translate>fax</label>
      <input type="text" class="form-control" ng-model="fax" maxlength="60" ng-change="checkForm()">
    </div>
    </ng-form>
    <div class="col-lg-12 tools">
      <button type="submit" ng-class="{'disabled': !formValid}" class="btn btn-primary" ng-click="save()"><i class="glyphicon glyphicon-floppy-disk"></i> <span translate>save</span></button>
      <button class="btn btn-default right" ng-click="closeThisDialog(true)" style="margin-right: 15px;">Cancel</button>
    </div>
  </div>
</div>